---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)



@import
  {% if site.bootwatch %}
    "bootswatch/{{site.bootwatch | downcase}}/variables",
  {% endif %}

  "bootstrap",

  {% if site.bootwatch %}
    "bootswatch/{{site.bootwatch | downcase}}/bootswatch",
  {% endif %}

  "syntax-highlighting",
  "typeahead"
;

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: $navbar-height + $navbar-margin-bottom;
  margin-bottom: 46px;
}

.navbar-brand{
  img{
    margin: -$navbar-padding-vertical 0;
    height: $navbar-height;
    padding: 10px 0;
  }
}


.header-container {
  background-color: black;
  background: url('../img/bg.jpg') no-repeat 50% 0;
  color: #fff;

  h1 {
    color: #fff;
  }
  // background-attachment: fixed;
  background-size: cover;
  background-position: center 36%;
  margin-top: -37px;
}
.navbar-container {
  font-size: 16px;
}
.page-content {
  padding-bottom: 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 46px;
  padding-top: 10px;
  background-color: $gray-lighter;
  color: $gray-dark;
}

.post-list-container {
  li a.active {
    font-weight: bold;
  }
}
*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}
.navbar-form .has-feedback .form-control-feedback{
  top:10px
}


.navbar-default {
    background-color: #4caf50;
    border-color: transparent;
}

.navbar {
    border-bottom: 2px solid #fff;
}

.navbar-nav li  a {
    color: #fff !important;
}

.navbar-brand {
    color: #f5f5f5 !important;
}

.header-container {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/bg.jpg);
}

.form-control {
  color: #fff;

}

.navbar-nav .active a{
  background-color:#37c6c0 !important;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #4caf50;
    border-color: #4caf50;
}

.navbar-nav {
  margin-left:20px;
}