<style>
    /* 使下拉菜单在悬停时显示 */
.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* 避免抖动 */
}

/* 可选：美化子菜单 */
.dropdown-menu {
  border-radius: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
/* 子菜单文字默认黑色 */
.navbar-nav .dropdown-menu > li > a {
  color: #000;
}

/* 子菜单项悬停：背景绿 + 字白 */
.navbar-default .navbar-nav .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .dropdown-menu > li > a:focus {
  background-color: #4caf50 !important;
  color: #fff !important;
}
</style>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <span><img src="{{site.baseurl}}/img/logonav.png"></span> {{ site.title }}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if page.sectionid=='docs' %} class="active" {% endif %}><a href="{{ "/docs/documentation/" | prepend: site.baseurl }}">Docs</a></li>
                <li {% if page.sectionid=='page_dowload' %} class="active" {% endif %}><a href="{{ "/download-less/" | prepend: site.baseurl }}">Download</a></li>
                <li {% if page.sectionid=='resources' %} class="active" {% endif %}><a href="{{ "/resources/3dscene/" | prepend: site.baseurl }}">Resources</a></li>
                <li {% if page.sectionid=='page_publications' %} class="active" {% endif %}><a href="{{ "/publications/" | prepend: site.baseurl }}">Publications</a></li>
                <li {% if page.sectionid=='blog' %} class="active" {% endif %}><a href="{{ "/allnews" | prepend: site.baseurl }}">News</a></li>
                <li {% if page.sectionid=='page_co_researchers' %} class="active" {% endif %}><a href="{{ "/co-researchers/" | prepend: site.baseurl }}">Co-Researchers</a></li>
                <li class="dropdown {% if page.sectionid == 'about' %}active{% endif %}"><a href="#" class="dropdown-toggle">About Us</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ "/about/modelteam/" | prepend: site.baseurl }}">Model Team</a></li>
                        <li><a href="{{ "/about/co-researchers/" | prepend: site.baseurl }}">Co-Researchers</a></li>
                  </ul>
                </li>
            </ul>
            <div class="navbar-right">
                <form class="navbar-form navbar-left">
                    <div class="form-group has-feedback">
                        <input id="search-box" type="text" class="form-control" placeholder="Search...">
                        <i class="fa fa-search form-control-feedback"></i>
                    </div>
                </form>
                <!-- <ul class="nav navbar-nav">
                    <li><a href="{{ site.git_address }}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul> -->
            </div>
        </div>
    </div>
</nav>
